@using FinalFantasyTacticsPartyBuilder.View_Models
@model List<ItemOverviewViewModel>

<div id="item-selection" class="menu">
    <div id="item-selection-icon-background"></div>
    @foreach (ItemOverviewViewModel item in Model)
    {
        <div class="fft-row">
            <div class="fft-cell @(item.EquipmentCategoryName + "-icons") item-icon">
                <img src="@item.ImagePath" />
            </div>

            <div class="fft-cell item-names" data-item-id="@item.ItemID" data-item-speed-bonus="@item.SpeedBonus" data-item-category-name="armguard" 
                 data-item-physical-bonus="@item.PhysicalAttackPower" data-item-magical-bonus="@item.MagicalAttackPower">
                <strong>@item.Name</strong>
            </div>
            <div class="fft-cell item-icon type-icon">
                <img src="~/Content/Images/physical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>@item.PhysicalAttackPower</span>
            </div>
            <div class="fft-cell item-icon type-icon">
                <img src="~/Content/Images/magical-icon.png" />
            </div>
            <div class="fft-cell">
                <span>@item.MagicalAttackPower</span>
            </div>
            <div class="fft-cell item-icon item-details-button" data-item-id="@item.ItemID">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
    }
</div>

