@using FinalFantasyTacticsPartyBuilder.View_Models
@model List<ItemOverviewViewModel>

<div id="item-selection" class="menu">
    <div id="item-selection-icon-background"></div>
    @foreach (ItemOverviewViewModel item in Model)
    {
        <div class="fft-row">
            <div class="fft-cell @(item.EquipmentCategoryName + "-icons") item-icon">
                <img src="@item.ImagePath" />
            </div>

            <div class="fft-cell item-names" data-item-category-name="@item.EquipmentCategoryName" data-item-hp="@item.HPBonus" data-item-mp="@item.MPBonus">
                <strong>@item.Name</strong>
            </div>
            <div class="fft-cell item-icon item-details-button">
                <img src="~/Content/Images/help.png" />
            </div>
        </div>
    }
</div>
