@using FinalFantasyTacticsPartyBuilder.View_Models
@using FinalFantasyTacticsPartyBuilder.Models;
@model UnitDetailsViewModel

<div id="unit-details-container">
    <div id="unit-details-header" class="unit-details-container">
        <div id="unit-portrait-menu" class="menu">
            <img class="unit-portrait" src="@Model.Unit.JobPortraitPath" />
        </div>
        <div id="unit-details-status-container">
            <div id="unit-status-level-container">
                <img class="small-image" src="~/Content/Images/level.png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.LevelDigits[0]).png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.LevelDigits[1]).png" />
            </div>
            <div id="unit-status-experience-container">
                <img class="small-image" src="~/Content/Images/experience.png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.ExperienceDigits[0]).png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.ExperienceDigits[1]).png" />
            </div>
            <div id="unit-status-hp-container">
                <img class="hp small-image" src="~/Content/Images/hp.png" />
                <div class="value-bar"></div>
                @for (int i = 0; i < Model.Unit.AttributeDigits.HpDigits.Length; i++)
                {
                    <img class="value upper-hp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.HpDigits[i]).png" />
                }
                <img class="divider" src="~/Content/Images/divider.png" />
                @for (int i = 0; i < Model.Unit.AttributeDigits.HpDigits.Length; i++)
                {
                    <img class="value lower-hp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.HpDigits[i]).png" />
                }
                <span id="armour-stats-hp-bonus" data-item-helmet-hp-bonus="@(Model.Head != null ? Model.Head.HPBonus : 0)" data-item-body-hp-bonus="@(Model.Body != null ? Model.Body.HPBonus : 0)">000</span>
            </div>
            <div id="unit-status-mp-container">
                <img class="mp small-image" src="~/Content/Images/mp.png" />
                <div class="value-bar"></div>
                @for (int i = 0; i < Model.Unit.AttributeDigits.MpDigits.Length; i++)
                {
                    <img class="value upper-mp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.MpDigits[i]).png" />
                }
                <img class="divider" src="~/Content/Images/divider.png" />
                @for (int i = 0; i < Model.Unit.AttributeDigits.MpDigits.Length; i++)
                {
                    <img class="value lower-mp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.MpDigits[i]).png" />
                }
                <span id="armour-stats-mp-bonus" data-item-helmet-mp-bonus="@(Model.Head != null ? Model.Head.MPBonus : 0)" data-item-body-mp-bonus="@(Model.Body != null ? Model.Body.MPBonus : 0)">000</span>
            </div>
        </div>
        <div class="unit-details-name-container menu">
            <img id="unit-details-name-orb" src="~/Content/Images/blue_orb.png" />
            <div id="unit-details-name-rank-container">
                <img src="~/Content/Images/number_dark_@(Model.Unit.AttributeDigits.PositionDigits[0]).png" />
                <img src="~/Content/Images/number_dark_@(Model.Unit.AttributeDigits.PositionDigits[1]).png" />
            </div>
            <strong id="unit-details-name-name">@Model.Unit.UnitName</strong>
            <strong id="unit-details-name-job">@Model.Unit.JobName</strong>
            <div id="unit-details-name-brave-container">
                <span id="brave-header">Brave</span>
                <span>@Model.Unit.Brave</span>
            </div>
            <div id="unit-details-name-faith-container">
                <span id="faith-header">Faith</span>
                <span>@Model.Unit.Faith</span>
            </div>
        </div>
    </div>
    <div id="unit-details-stats-container">
        <div id="unit-details-overall-stats" class="menu">
            <div id="base-stats" class="fft-column">
                <div class="fft-cell" id="move-stat-header"><span>Move</span></div>
                <div class="fft-cell" id="jump-stat-header"><span>Jump</span></div>
                <div class="fft-cell" id="speed-stat-header"><span>Speed</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell stat-seperator"><span>...</span></div>
                <div class="fft-cell stat-seperator"><span>...</span></div>
                <div class="fft-cell stat-seperator"><span>...</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell" id="move-stat-value"><span>@Model.Move</span></div>
                <div class="fft-cell" id="jump-stat-value"><span>@Model.Jump</span></div>
                <div class="fft-cell" id="speed-stat-value"><span>@Model.Speed</span></div>
            </div>
            <div id="move-weapon-margin" class="fft-column"></div>
            <div class="fft-column">
                <div class="fft-cell" id="weapon-stats-header"><span>Weap. Power</span></div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-header"><span>R</span></div>
                    <div class="fft-cell" id="weapon-stats-left-header"><span>L</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell stat-seperator"><span>...</span></div>
                    <div class="fft-cell stat-seperator"><span>...</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-damage" data-item-power="@(Model.WeaponRight != null ? Model.WeaponRight.WeaponPower : "000")"><span>@(Model.WeaponRight != null ? Model.WeaponRight.WeaponPower : "000")</span></div>
                    <div class="fft-cell" id="weapon-stats-left-damage" data-item-power="@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponPower : "000")"><span>@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponPower : "000")</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-hit" data-item-hit-percentage="@(Model.WeaponRight != null ? Model.WeaponRight.WeaponHit : "000")"><span>@(Model.WeaponRight != null ? Model.WeaponRight.WeaponHit : "000")</span></div>
                    <div class="fft-cell" id="weapon-stats-left-hit" data-item-hit-percentage="@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponHit : "000")"><span>@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponHit : "000")</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell  percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>

            <div id="weapon-evasion-margin" class="fft-column"></div>
            <div id="equipment-icons" class="fft-column">
                <div class="fft-cell" id="physical-icon"><img src="~/Content/Images/physical-icon.png" /></div>
                <div class="fft-cell" id="magical-icon"><img src="~/Content/Images/magical-icon.png" /></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>AT</span></div>
                <div class="fft-cell"><span>@Model.PhysicalAttackPower</span></div>
                <div class="fft-cell"><span>@Model.MagicalAttackPower</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>C-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>@Model.PhysicalCharacterEvade</span></div>
                    <div class="fft-cell"><span>@Model.MagicalCharacterEvade</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>S-EV</span></div>
                <div class="fft-column">
                    <div id="shield-stats-physical-evade" class="fft-cell" data-item-physical-evade="@Model.PhysicalShieldEvade"><span>@Model.PhysicalShieldEvade</span></div>
                    <div id="shield-stats-magical-evade" class="fft-cell" data-item-magical-evade="@Model.MagicalShieldEvade"><span>@Model.MagicalShieldEvade</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column fft-section-margin">
                <div class="fft-cell"><span>A-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>@Model.PhysicalAccessoryEvade</span></div>
                    <div class="fft-cell"><span>@Model.MagicalAccessoryEvade</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column fft-column-margin">
                <div class="fft-cell"><span>Raw HP/MP</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>@Model.RawHP</span></div>
                    <div class="fft-cell"><span>@Model.RawMP</span></div>
                </div>
            </div>
            <div class="fft-column fft-column-margin">
                <div class="fft-cell"><span>Raw PA/MA</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>@Model.RawPhysicalAttack</span></div>
                    <div class="fft-cell"><span>@Model.RawMagicalAttack</span></div>
                </div>
            </div>
            <div class="fft-column fft-column-margin">
                <div class="fft-cell"><span>Raw SPD</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>@Model.RawSpeed</span></div>
                    <div class="fft-cell"><span class="text-hide">N/A</span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="unit-ability-equipment-container">
        <div id="unit-equipment" class="menu">
            <div id="unit-equipment-slot-icons" class="fft-column">
                <div class="fft-cell">
                    <img src="~/Content/Images/hand_right.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/hand_left.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/head.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/armour.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/accessory.png" />
                </div>
            </div>
            <div id="unit-equipment-item-icons" class="fft-column">
                <img id="equip-icon" src="~/Content/Images/equip.png" />
                <div class="fft-cell">
                    @if (Model.WeaponRight != null)
                    {
                        <img src="@Model.WeaponRight.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.WeaponLeft != null)
                    {
                        <img src="@Model.WeaponLeft.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.Head != null)
                    {
                        <img src="@Model.Head.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.Body != null)
                    {
                        <img src="@Model.Body.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.Accessory != null)
                    {
                        <img src="@Model.Accessory.ImagePath" />
                    }
                </div>
            </div>
            <div id="unit-equipment-item-names" class="fft-column">
                <div class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Weapon)">
                    @if (Model.WeaponRight != null)
                    {
                        <strong>@Model.WeaponRight.Name</strong>
                    }
                </div>
                <div class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Shield)">
                    @if (Model.WeaponLeft != null)
                    {
                        <strong>@Model.WeaponLeft.Name</strong>
                    }
                </div>
                <div class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Helmet)">
                    @if (Model.Head != null)
                    {
                        <strong>@Model.Head.Name</strong>
                    }
                </div>
                <div class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Armor)">
                    @if (Model.Body != null)
                    {
                        <strong>@Model.Body.Name</strong>
                    }
                </div>
                <div class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Accessory)">
                    @if (Model.Accessory != null)
                    {
                        <strong>@Model.Accessory.Name</strong>
                    }
                </div>
            </div>
        </div>
        <div id="unit-abilities" class="menu">
            <div id="unit-ability-icons" class="fft-column">
                <img id="ability-icon" src="~/Content/Images/ability.png" />
                <div class="fft-cell">
                    <img src="~/Content/Images/primary_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/primary_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/reaction_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/support_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/movement_ability.png" />
                </div>
            </div>
            <div id="unit-ability-names" class="fft-column">
                <div class="fft-cell">
                    <strong>@Model.PrimaryAbilityName</strong>
                </div>
                <div class="fft-cell"></div>
                <div class="fft-cell">
                    <strong></strong>
                </div>
                <div class="fft-cell">
                    <strong></strong>
                </div>
                <div class="fft-cell">
                    <strong></strong>
                </div>
            </div>
        </div>
    </div>
</div>