@using FinalFantasyTacticsPartyBuilder.View_Models;
@using FinalFantasyTacticsPartyBuilder.Models;
@model UnitDetailsViewModel

<div id="unit-details-container">
    <div id="unit-details-header" class="unit-details-container">
        <div id="unit-portrait-menu" class="menu">
            <img class="unit-portrait" src="@Model.Unit.JobPortraitPath" />
        </div>
        <div id="unit-details-status-container">
            <div id="unit-status-level-container">
                <img class="small-image" src="~/Content/Images/level.png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.LevelDigits[0]).png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.LevelDigits[1]).png" />
            </div>
            <div id="unit-status-experience-container">
                <img class="small-image" src="~/Content/Images/experience.png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.ExperienceDigits[0]).png" />
                <img src="~/Content/Images/number_@(Model.Unit.AttributeDigits.ExperienceDigits[1]).png" />
            </div>
            <div id="unit-status-hp-container">
                <img class="hp small-image" src="~/Content/Images/hp.png" />
                <div class="value-bar"></div>
                @for (int i = 0; i < Model.Unit.AttributeDigits.HpDigits.Length; i++)
                {
                    <img class="value upper-hp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.HpDigits[i]).png" />
                }
                <img class="divider" src="~/Content/Images/divider.png" />
                @for (int i = 0; i < Model.Unit.AttributeDigits.HpDigits.Length; i++)
                {
                    <img class="value lower-hp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.HpDigits[i]).png" />
                }
                <span id="armour-stats-hp-bonus">000</span>
            </div>
            <div id="unit-status-mp-container">
                <img class="mp small-image" src="~/Content/Images/mp.png" />
                <div class="value-bar"></div>
                @for (int i = 0; i < Model.Unit.AttributeDigits.MpDigits.Length; i++)
                {
                    <img class="value upper-mp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.MpDigits[i]).png" />
                }
                <img class="divider" src="~/Content/Images/divider.png" />
                @for (int i = 0; i < Model.Unit.AttributeDigits.MpDigits.Length; i++)
                {
                    <img class="value lower-mp" src="~/Content/Images/number_@(Model.Unit.AttributeDigits.MpDigits[i]).png" />
                }
                <span id="armour-stats-mp-bonus">000</span>
            </div>
        </div>
        <div class="unit-details-name-container menu">
            <img id="unit-details-name-orb" src="~/Content/Images/blue_orb.png" />
            <div id="unit-details-name-rank-container">
                <img src="~/Content/Images/number_dark_@(Model.Unit.AttributeDigits.PositionDigits[0]).png" />
                <img src="~/Content/Images/number_dark_@(Model.Unit.AttributeDigits.PositionDigits[1]).png" />
            </div>
            <strong id="unit-details-name-name">@Model.Unit.UnitName</strong>
            <strong id="unit-details-name-job">@Model.Unit.JobName</strong>
            <div id="unit-details-name-brave-container">
                <span id="brave-header">Brave</span>
                <span>@Model.Unit.Brave</span>
            </div>
            <div id="unit-details-name-faith-container">
                <span id="faith-header">Faith</span>
                <span>@Model.Unit.Faith</span>
            </div>
        </div>
    </div>
    <div id="unit-details-stats-container">
        <div id="unit-details-overall-stats" class="menu">
            <div id="base-stats" class="fft-column">
                <div class="fft-cell" id="move-stat-header"><span>Move</span></div>
                <div class="fft-cell" id="jump-stat-header"><span>Jump</span></div>
                <div class="fft-cell" id="speed-stat-header"><span>Speed</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell stat-seperator"><span>...</span></div>
                <div class="fft-cell stat-seperator"><span>...</span></div>
                <div class="fft-cell stat-seperator"><span>...</span></div>
            </div>
            <div class="fft-column fft-section-margin">
                <div class="fft-cell" id="move-stat-value" data-item-default-move="@Model.Move"><span>@Model.Move</span></div>
                <div class="fft-cell" id="jump-stat-value" data-item-default-jump="@Model.Jump"><span>@Model.Jump</span></div>
                <div class="fft-cell" id="speed-stat-value" data-item-default-speed="@Model.Speed"><span>@Model.Speed</span></div>
            </div>
            <div class="fft-column fft-section-margin">
                <div class="fft-cell" id="weapon-stats-header"><span>Weap. Power</span></div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-header"><span>R</span></div>
                    <div class="fft-cell" id="weapon-stats-left-header"><span>L</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell stat-seperator"><span>...</span></div>
                    <div class="fft-cell stat-seperator"><span>...</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-damage" data-item-power="@(Model.WeaponRight != null ? Model.WeaponRight.WeaponPower : "000")"><span>@(Model.WeaponRight != null ? Model.WeaponRight.WeaponPower : "000")</span></div>
                    <div class="fft-cell" id="weapon-stats-left-damage" data-item-power="@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponPower : "000")"><span>@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponPower : "000")</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                    <div class="fft-cell unit-stat-divider"><span>/</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell" id="weapon-stats-right-hit" data-item-hit="@(Model.WeaponRight != null ? Model.WeaponRight.WeaponHit : "000")"><span>@(Model.WeaponRight != null ? Model.WeaponRight.WeaponHit : "000")</span></div>
                    <div class="fft-cell" id="weapon-stats-left-hit" data-item-hit="@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponHit : "000")"><span>@(Model.WeaponLeft != null ? Model.WeaponLeft.WeaponHit : "000")</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell  percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div id="equipment-icons" class="fft-column">
                <div class="fft-cell" id="physical-icon"><img src="~/Content/Images/physical-icon.png" /></div>
                <div class="fft-cell" id="magical-icon"><img src="~/Content/Images/magical-icon.png" /></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>AT</span></div>
                <div class="fft-cell" id="physical-attack-power" data-item-power="@Model.PhysicalAttackPower"><span>@Model.PhysicalAttackPower</span></div>
                <div class="fft-cell" id="magical-attack-power" data-item-power="@Model.MagicalAttackPower"><span>@Model.MagicalAttackPower</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>C-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell"><span>@Model.PhysicalCharacterEvade</span></div>
                    <div class="fft-cell"><span>@Model.MagicalCharacterEvade</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span>S-EV</span></div>
                <div class="fft-column">
                    <div id="shield-stats-physical-evade" class="fft-cell" data-item-physical-evade="@Model.PhysicalShieldEvade"><span>@Model.PhysicalShieldEvade</span></div>
                    <div id="shield-stats-magical-evade" class="fft-cell" data-item-magical-evade="@Model.MagicalShieldEvade"><span>@Model.MagicalShieldEvade</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column">
                <div class="fft-cell"><span></span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
                <div class="fft-cell unit-stat-divider"><span>/</span></div>
            </div>
            <div class="fft-column fft-section-margin">
                <div class="fft-cell"><span>A-EV</span></div>
                <div class="fft-column">
                    <div class="fft-cell" id="accessory-physical-evade" data-item-physical-evade="@Model.PhysicalAccessoryEvade"><span>@Model.PhysicalAccessoryEvade</span></div>
                    <div class="fft-cell" id="accessory-magical-evade" data-item-magical-evade="@Model.MagicalAccessoryEvade"><span>@Model.MagicalAccessoryEvade</span></div>
                </div>
                <div class="fft-column">
                    <div class="fft-cell percentage-value"><span>%</span></div>
                    <div class="fft-cell percentage-value"><span>%</span></div>
                </div>
            </div>
            <div class="fft-column fft-section-margin">
                <div id="element-resistances-header" class="fft-cell"><span>Damage Resistances</span></div>
                <div class="fft-column">
                    <div class="fft-cell">
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container top">Fire - @Model.Resistances.FireResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.FireResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/flame.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container top">Ice - @Model.Resistances.IceResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.IceResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/gem.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container top">Lightning - @Model.Resistances.LightningResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.LightningResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/flash.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container top">Water - @Model.Resistances.WaterResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.WaterResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/drop.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container top">Physical - @Model.Resistances.PhysicalResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.PhysicalResist.ToLower())" src="~/Content/Images/physical-icon.png" />
                        </div>
                    </div>
                    <div class="fft-cell">
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container bottom">Wind - @Model.Resistances.WindResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.WindResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/wind.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container bottom">Earth - @Model.Resistances.EarthResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.EarthResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/landslide.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container bottom">Holy - @Model.Resistances.HolyResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.HolyResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/holy-star.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container bottom">Dark - @Model.Resistances.DarkResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.DarkResist.ToLower())" src="~/Content/Images/Elemental_Status_Icons/dark-night.svg" />
                        </div>
                        <div class="fft-tooltip">
                            <span class="fft-tooltip-container bottom">Magical - @Model.Resistances.MagicalResist damage</span>
                            <img class="element-icon element-icon-@(Model.Resistances.MagicalResist.ToLower())" src="~/Content/Images/magical-icon.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fft-column fft-column-margin">
                <div id="status-immunities-header" class="fft-cell"><span>Immunities</span></div>
                <div class="fft-column">
                    <div class="fft-cell">
                        <div class="fft-tooltip @(!Model.Resistances.IsBerserkImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Berserk</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/berserk.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsSleepImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Sleep</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/sleep.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsSilenceImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Silence</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/silence.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsPoisonImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Poison</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/poison.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsDoomImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Doom</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/doom.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsTraitorImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Traitor</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/traitor.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsKOImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">KO</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/KO.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsStoneImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Stone</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/stone.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsConfusedImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container top">Confused</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/confused.svg" />
                        </div>
                    </div>
                    <div class="fft-cell">
                        <div class="fft-tooltip @(!Model.Resistances.IsToadImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Toad</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/frog.svg" fill-opacity="0.5" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsSlowImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Slow</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/slow.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsStopImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Stop</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/stop.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsDontMoveImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Don't Move</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/immobile.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsDontActImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Don't Act</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/disabled.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsBlindImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Blind</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/blind.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsVampireImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Vampire</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/vampire.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsUndeadImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Undead</span>
                            <img class="status-icon" opacity="0.2" src="~/Content/Images/Status_Ailment_Icons/zombie.svg" />
                        </div>
                        <div class="fft-tooltip @(!Model.Resistances.IsCharmImmune ? "invisible" : "")">
                            <span class="fft-tooltip-container bottom">Charm</span>
                            <img class="status-icon" src="~/Content/Images/Status_Ailment_Icons/charm.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="unit-ability-equipment-container">
        <div id="unit-equipment" class="menu">
            <div id="unit-equipment-slot-icons" class="fft-column">
                <div class="fft-cell">
                    <img src="~/Content/Images/hand_right.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/hand_left.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/head.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/armour.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/accessory.png" />
                </div>
            </div>
            <div id="unit-equipment-item-icons" class="fft-column">
                <img id="equip-icon" src="~/Content/Images/equip.png" />
                <div class="fft-cell">
                    @if (Model.WeaponRight != null)
                    {
                        <img src="@Model.WeaponRight.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.WeaponLeft != null)
                    {
                        <img src="@Model.WeaponLeft.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.Head != null)
                    {
                        <img src="@Model.Head.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.Body != null)
                    {
                        <img src="@Model.Body.ImagePath" />
                    }
                </div>
                <div class="fft-cell">
                    @if (Model.Accessory != null)
                    {
                        <img src="@Model.Accessory.ImagePath" />
                    }
                </div>
            </div>
            <div id="unit-equipment-item-names" class="fft-column">
                <div id="weapon-equipped" class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Weapon)">
                    @if (Model.WeaponRight != null)
                    {
                        <strong data-item-physical-bonus="@Model.WeaponRight.PhysicalAttackPower" data-item-magical-bonus="@Model.WeaponRight.MagicalAttackPower"
                                data-item-speed-bonus="@Model.WeaponRight.SpeedBonus" data-item-power="@Model.WeaponRight.WeaponPower" data-item-hit-percentage="@Model.WeaponRight.WeaponHit">@Model.WeaponRight.Name</strong>
                            }
                </div>
                <div id="shield-equipped" class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Shield)">
                    @if (Model.WeaponLeft != null)
                    {
                        <strong data-item-physical-bonus="@Model.WeaponLeft.PhysicalAttackPower" data-item-magical-bonus="@Model.WeaponLeft.MagicalAttackPower"
                                data-item-speed-bonus="@Model.WeaponLeft.SpeedBonus" data-item-power="@Model.WeaponLeft.WeaponPower" data-item-hit-percentage="@Model.WeaponLeft.WeaponHit"
                                data-item-physical-evade="@Model.PhysicalShieldEvade" data-item-magical-evade="@Model.MagicalShieldEvade">@Model.WeaponLeft.Name</strong>
                            }
                </div>
                <div id="head-equipped" class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Helmet)">
                    @if (Model.Head != null)
                    {
                        <strong data-item-physical-bonus="@Model.Head.PhysicalAttackPower" data-item-magical-bonus="@Model.Head.MagicalAttackPower"
                                data-item-speed-bonus="@Model.Head.SpeedBonus" data-item-helmet-hp-bonus="@Model.Head.HPBonus" data-item-helmet-mp-bonus="@Model.Head.MPBonus">@Model.Head.Name</strong>
                            }
                </div>
                <div id="body-equipped" class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Armor)">
                    @if (Model.Body != null)
                    {
                        <strong data-item-physical-bonus="@Model.Body.PhysicalAttackPower" data-item-magical-bonus="@Model.Body.MagicalAttackPower"
                                data-item-speed-bonus="@Model.Body.SpeedBonus" data-item-body-hp-bonus="@Model.Body.HPBonus" data-item-body-mp-bonus="@Model.Body.MPBonus">@Model.Body.Name</strong>
                            }
                </div>
                <div id="accessory-equipped" class="fft-cell equipment-selector" data-equipment-category="@((int)EquipmentCategoriesList.Accessory)">
                    @if (Model.Accessory != null)
                    {
                        switch (Model.Accessory.ItemCategoryID)
                        {
                            case (int)ItemCategoriesList.Shoe:
                                <strong data-item-physical-bonus="@Model.Accessory.PhysicalAttackPower" data-item-magical-bonus="@Model.Accessory.MagicalAttackPower"
                                        data-item-speed-bonus="@Model.Accessory.SpeedBonus" data-item-move-bonus="@Model.Accessory.MoveBonus" data-item-jump-bonus="@Model.Accessory.JumpBonus">@Model.Accessory.Name</strong>
                                break;
                            case (int)ItemCategoriesList.Armguard:
                                <strong data-item-physical-bonus="@Model.Accessory.PhysicalAttackPower" data-item-magical-bonus="@Model.Accessory.MagicalAttackPower"
                                        data-item-speed-bonus="@Model.Accessory.SpeedBonus">@Model.Accessory.Name</strong>
                                break;
                            case (int)ItemCategoriesList.Cloak:
                                <strong data-item-physical-bonus="@Model.Accessory.PhysicalAttackPower" data-item-magical-bonus="@Model.Accessory.MagicalAttackPower"
                                        data-item-speed-bonus="@Model.Accessory.SpeedBonus" data-item-physical-evade="@Model.Accessory.AccessoryPhysicalEvade" data-item-magical-evade="@Model.Accessory.AccessoryMagicalEvade">@Model.Accessory.Name</strong>
                                break;
                            default:
                                <strong data-item-physical-bonus="@Model.Accessory.PhysicalAttackPower" data-item-magical-bonus="@Model.Accessory.MagicalAttackPower"
                                        data-item-speed-bonus="@Model.Accessory.SpeedBonus">@Model.Accessory.Name</strong>
                                break;
                        }
                    }
                </div>
            </div>
        </div>
        <div id="unit-abilities" class="menu">
            <div id="unit-ability-icons" class="fft-column">
                <img id="ability-icon" src="~/Content/Images/ability.png" />
                <div class="fft-cell">
                    <img src="~/Content/Images/primary_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/primary_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/reaction_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/support_ability.png" />
                </div>
                <div class="fft-cell">
                    <img src="~/Content/Images/movement_ability.png" />
                </div>
            </div>
            <div id="unit-ability-names" class="fft-column">
                <div class="fft-cell">
                    <strong>@Model.PrimaryAbilityName</strong>
                </div>
                <div class="fft-cell"></div>
                <div class="fft-cell">
                    <strong></strong>
                </div>
                <div class="fft-cell">
                    <strong></strong>
                </div>
                <div class="fft-cell">
                    <strong></strong>
                </div>
            </div>
        </div>
    </div>
</div>